

$default: "Yanone Kaffeesatz","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,"Optima", sans-serif;
//$default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$monospace: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$meta-size: 0.9em;
