$max-width: 1000px;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $default;
	font-weight: 300;
	font-size: 14px;
	background: $background;
	color: $gray01;
	@media screen and (max-width: 1040px){
		margin: 0 20px;
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}
h1{
	font-family: "Yanone Kaffeesatz";
	font-size: 2.5em;
	font-weight: 500;
}
h2{
	font-family: "Yanone Kaffeesatz";
	font-size: 2.2em;
	font-weight: 400;
}
h3{
	font-family: "Yanone Kaffeesatz";
	font-size: 1.9em;
	font-weight: 300;
}
a{
	text-decoration: none;
	outline-width: 0;
	color: $main;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 1040px){
		width: 100%;
	}
}
